.logo{
	width: 65%;
	margin-left: 150px;	
}


#hangman {

}

#reset{
	margin-left: 100px;

}

#guesses{
	font-size: 20px;
}

.btnLetter{
	display: inline-block;
	text-align: center;
	font-size: 18pt;
	width: 30px;
	height: 30px;
	padding: 2px;
	margin: 3px;
	color: white;
	background-color: red;
	cursor: pointer;
	cursor: hand;
	border-radius: 5px;
	border: white 2px solid;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.btnLetter:hover{
	background-color: blue;
}

h4{
	font-size: 20px;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px
}


img {
	width: 75%;
	margin-left: 85px;
	
}
html {
	height: 100%;
	background: url('christmas.jpg') no-repeat center center;
	background-size: cover;

}

body{
	background: none;
}

input{
	margin-left: -30px;
}
