#guesses{
	
	font-size: 18px;
	margin-right: -100px;
}


#guessesIncorrect{
	ffont-weight: bold;
    font-size: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: red;
    border: solid;
}


#button{
	color: #fff;
    background-color: #ff0000;
    border-color: #5ca9e1;
    float: right;
}

.logo{
	max-width: 100%;
    height: auto;
}


h3{
	color: #03284b;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    display: inherit;
    padding: 20px;
    float: none;
    border-radius: 10px;
}
h1{
	
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 40px;
    padding: 10px;
}

html {
	height: 100%;
	background: url('christmas1.png') no-repeat center center;
	background-size: cover;

}

body{
	background: none;
}


#hangman{
	margin-top: -60px;
	max-width: 100%;
    height: auto;
}
#word{
	margin-top: -15px;
}

